<div class="m_nav">
  <div class="for_small" id="m_nav_wrapper">
    <div id="m_nav_scroller">
      <ul class="">
        <li class="mnav_slide_left_right <%= active_class('/') %>" data-href="/"> <a href="javascript:void(0);" data-href="/">Home</a></li>
        <li class="mnav_slide_left_right <%= active_class('/how-it-works') %>" data-href="/how-it-works"><a href="javascript:void(0);">How it Works</a></li>
        <li class="mnav_slide_left_right <%= active_class('/apply') %>" data-href="/apply"> <a href="javascript:void(0);">Moving Companies</a></li>
        <li class="mnav_slide_left_right <%= active_class('/contact') %>" data-href="/contact"> <a href="javascript:void(0);">Contact</a></li>
        <li class="mnav_slide_left_right <%= active_class('/download') %>" data-href="/"> <a href="javascript:void(0);">Download App</a></li>
        <li class="nav-signin mnav_slide_left_right <%= active_class('/signin') %>" data-href="/signin"> <a href="javascript:void(0);">Signin</a></li>
        <li class="nav-signup mnav_slide_left_right <%= active_class('/signup') %>" data-href="/signup"> <a href="javascript:void(0);">Signup</a></li>
      </ul>
    </div>  
  </div>
</div>