<div class="m_nav">
  <div class="for_small" id="m_nav_wrapper">
    <div id="m_nav_scroller">
      <ul class="">
        <li class="mnav_slide_left_right <%= active_class('/') %>"> <a href="/">Home</a></li>
        <li class="mnav_slide_left_right <%= active_class('/how-it-works') %>"><a href="javascript:void(0);" data-href="/how-it-works">How it Works</a></li>
        <li class="mnav_slide_left_right <%= active_class('/moves') %>"><a href="javascript:void(0);" data-href="/moves">Moves</a></li>
        <li class="mnav_slide_left_right <%= active_class('/apply') %>"> <a href="javascript:void(0);" data-href="/apply">Moving Companies</a></li>
        <li class="mnav_slide_left_right <%= active_class('/contact') %>"> <a href="javascript:void(0);" data-href="/contact">Contact</a></li>
        <li class="mnav_slide_left_right <%= active_class('/download') %>"> <a href="javascript:void(0);" data-href="/">Download App</a></li>
        <li class="mnav_slide_left_right "><span class="user-login-logut"></span></li>
        <li class="mnav_slide_left_right " ><span class="user-signup"></span></li>
      </ul>
    </div>  
  </div>
</div>