<%= render "shared/static_header" %>

<section class="slide" style="background:#f2f2f2;">
  <div class="contact">
    <div class="row">
    	<div class="col-md-12">
    		<div class="contact-cover" style="width:100%;background-image:url(/assets/moober_background_image.jpg);"></div>
        <div class="contact-title">We want to hear from you</div>
    	</div>
    	<div class="col-md-12">
    		<div class="contact-description">
    			Have a question for us? Send us a message by filling out the form below and we'll get back to you within 24 hours.
    		</div>
    	</div>
  </div>
</section>
<section class="slide">
  <div class="mt-10">
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="contact-form text-center">
    			<h1>Send us a Message</h1>
          <%= form_for @contact, url: contacts_path, method: :post do |f| %>
            <% if @contact.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

                <ul>
                <% @contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <%= f.text_field :full_name, placeholder: "Full Name", required: true %>
            <%= f.email_field :email, placeholder: "Email", required: true %>
            <%= f.text_field :mobile, placeholder: "Mobile Number", required: true %>
            <%= f.text_area :message, placeholder: "Message", cols: "2", rows: "3" %>
            <%= f.submit "Submit" %>
          <%end%>
    		</div>
    	</div>
    </div>
  </div>
</section>
<section class="slide">
  <div class="mt-10">
    <div class="row">
      <%= render "shared/company_logos" %>
    </div>
  </div>
</section>

<section class="slide">
  <%= render 'shared/footer' %>
</section>

<%= render 'shared/scrollify' %>