<div class="mrf-webLateralMenuOverlay"></div>
<div class="mrf-webLateralMenu">
  <ul>
    <li class="<%= active_class('/') %>"> <a href="/">Home</a></li>
    <li class="<%= active_class('/how-it-works') %>"> <a href="/how-it-works">How it Works</a></li>
    <li class="user_moves <%= active_class('/moves') %>"><span class="moves-count"><mark>0</mark></span><a href="/moves">Moves</a></li>
    <li class="<%= active_class('/apply') %>"> <a href="/apply">Moving Companies</a></li>
    <li class="<%= active_class('/contact') %>"> <a href="/contact">Contact</a></li>
    <li class="<%= active_class('/download') %> mrf-contactAction"> <a href="/">Download App</a></li>
    <li><span class="user-login-logut"></span></li>
    <li><span class="user-signup"></span></li>
  </ul>
  <div class="side_image_section">
    <a href="apply">
      <img src="/assets/menu-image.png" align="center" class="side_image">
    </a>
  </div>
</div>