<!-- Navigation -->
<%#= render 'nav'%>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="mrf-gradient"></div>
  <div class="mrf-logo"> <a href="/"> <img src="assets/logo.png" alt="Moober"/> </a> </div>
  <div class="mrf-menuContainer">
    <ul>
      <li> <button class="c-hamburger c-hamburger--htx"> <span>toggle menu</span> </button> </li>
      <li class=" mrf-contactAction"> <a href="/contact"><b>Contact Us</b></a></li>
    </ul>
  </div>
</nav>

<!-- Header section home video -->
<%= render 'home'%>

<!-- welcome to moovber section -->
<%= render 'welcome_section'%>

<!-- How it Works  -->
<%= render 'how_it_work'%>

<!-- realtime notifications -->
<%= render 'realtime' %>

<!-- savings -->
<section class="slide">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 saving_section_right">
          <div class="slide__title"> Save cash by comparing quotes. Users who use Moober save an average of 25-35% on their entire move. </div>
        </div>
        <div class="col-md-6 saving_section_left">
          <div class="slide__media">
            <div class="fasterBrand"> <img src="assets/tentimesfaster.svg" alt="10x Faster"> </div>
            <div class="chartContainer">
              <div class="chartLegend"> $700 for a 1br apartment move </div>
              <div class="chart mrf">
                <div class="greyBar">
                  <div class="colorBar mrf-animable" data-slide="4" data-animationin="translate({x:0, y: 0, z:0}, '%')" data-animationout="translate({x:-100, y: 0, z:0}, '%')" style="transform: translate3d(0%, 0%, 0px);"></div>
                </div>
              </div>
              <div class="source"> Moober </div>
              <div class="chartLegend"> $1,100 for a 1br apartment move </div>
              <div class="chart others">
                <div class="greyBar">
                  <div class="colorBar mrf-animable" data-slide="4" data-animationin="translate({x:0, y: 0, z:0}, '%')" data-animationout="translate({x:-100, y: 0, z:0}, '%')" style="transform: translate3d(0%, 0%, 0px);"></div>
                </div>
              </div>
              <div class="source"> Average NYC Moving Company </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<section class="slide">
  <footer class="footer">
    <div class="skyline"><img src="assets/footer.png" width="100%" alt="Moober Solutions"></div>
    <ul class="footer__content">
      <li>
        <ul>
          <li class="footer__item footer__item--address">
            <p><a href="https://www.google.com/maps/place/404+5th+Ave+%237055,+New+York,+NY+10018,+USA/@40.7503617,-73.9858434,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259aa02e83efb:0x8952d4490e23ed2a!8m2!3d40.7503577!4d-73.9836494?hl=en" target="_blank" data-mrf-ignoreLink="true">404 5th Avenue #7055<br>New York, NY 10018</a></p>
            <p>us: <a target="_blank" href="tel:+16467334446" data-mrf-ignoreLink="true">+1 646 733 4446</a></p>
            <p>M-F 9AM-6PM EST</p>
          </li>
        </ul>
      </li>
      <li class="footer__followUs">
        <ul class="emails">
          <li class="footer__item"><a target="_blank" data-mrf-ignoreLink="true" href="mailto:support@moober.com">support@moober.com</a></li>
          <li class="footer__item"><a target="_blank" data-mrf-ignoreLink="true" href="mailto:"></a></li>
        </ul>
        <ul class="data">
          <li class="footer__item"><a href="https://www.instagram.com/moober/" target="_blank"><img src="assets/social/instagram.svg" alt="instagram" data-mrf-ignoreLink="true" target="_blank"></a></li>
          <li class="footer__item"><a href="https://plus.google.com/100353954115280668104" target="_blank"><img src="assets/social/google.svg" alt="google" data-mrf-ignoreLink="true" target="_blank"></a></li>
          <li class="footer__item"><a href="https://www.pinterest.com/moobernyc/?eq=goober&etslf=6100" target="_blank"><img src="assets/social/pinterest.svg" alt="pinterest" data-mrf-ignoreLink="true" target="_blank"></a></li>
          <li class="footer__item"><a href="https://www.facebook.com/pg/Moober-406494646416367/" target="_blank"><img src="assets/social/facebook.svg" alt="facebook" data-mrf-ignoreLink="true"></a></li>
          <li class="footer__item twitter-icon"><a href="https://twitter.com/MooberNYC" target="_blank"><img src="assets/social/twitter.svg" alt="twitter" target="_blank" data-mrf-ignoreLink="true"></a></li>
        </ul>
      </li>
    </ul>
  </footer>
</section>
<!-- sidemenu -->
<%= render 'side_nav'%>