<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button class="c-hamburger c-hamburger--htx"> <span>toggle menu</span> </button>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header home video -->
<section class="slide">
  <div class="slide--videoCover">
    <div class="slide__videoWrapper">
      <div class="slide_videoCover"></div>
      <video autoplay loop muted id="welcomeVideo">
        <% browser = Browser.new(request.env['HTTP_USER_AGENT'], accept_language: "en-us") %>
        <% if browser.safari? %>
        <source src="http://50.116.5.156/moober.mp4" type="video/mp4" width="100%">
          <% else %>
          <source src="/assets/videos/moober.webm" type="video/webm" width="100%">
            <% end %>
      </video>
    </div>
    <div class="slide__content">
      <h1 class="slide__content__title"> MOVING.</br> MADE.</br> SIMPLE. </h1>
      <div class="play videoPlayer" data-video="#welcomeVideo"> <img src="assets/play-mobile.svg" alt="Play Moober Video"> </div>
      <div>
        <button class="contactUs btn-left" data-toggle="modal" data-target="#moober_popup">Download App</button>
        <button class="contactUs btn-right">Start a Move</button>
      </div>
    </div>
  </div>
</section>

<!-- sidemenu -->
<div class="mrf-webLateralMenuOverlay"></div>
<div class="mrf-webLateralMenu">
  <ul>
    <li class="<%= active_class('/') %>"> <a href="/">Home</a></li>
    <li class="<%= active_class('/how-it-works') %>"> <a href="/how-it-works">How it Works</a></li>
    <li class="user_moves <%= active_class('/moves') %>"><a href="/moves">Moves</a></li>
    <li class="<%= active_class('/apply') %>"> <a href="/apply">Moving Companies</a></li>
    <li class="<%= active_class('/contact') %>"> <a href="/contact">Contact</a></li>
    <li class="<%= active_class('/download') %> mrf-contactAction"> <a href="/download">Download App</a></li>
    <li><span class="user-login-logut"></span></li>
    <li><span class="user-signup"></span></li>
  </ul>
  <div class="side_image_section">
    <a href="apply">
      <img src="/assets/menu-image.png" align="center" class="side_image">
    </a>
  </div>
</div>