<!-- Navigation -->
<%#= render 'nav'%>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top d_nav hide">
  <div class="mrf-gradient"></div>
  <div class="mrf-logo"><a href="/"><img src="assets/logo.png" alt="Moober"/></a></div>
  <div class="new-mrf-logo"><a href="/"><img class="mobile-logo" src="assets/logo2.png" alt="Moober"/></a></div>
  <div class="mrf-menuContainer">
    <ul>
      <li><button class="dsktop-toggle c-hamburger c-hamburger--htx"><span>toggle menu</span></button></li>
      <li class="mrf-contactAction"><a href="/contact"><b>Contact Us</b></a></li>
    </ul>
  </div>
</nav>

<nav id="mblNav" class="navbar navbar-fixed-top mbl_nav hide">
  <div class="mrf-gradient"></div>
  <div class="mbl-mrf-logo"><object class="header__logo" data="/assets/logo-new.svg" type="image/svg+xml"></object></div>
  <div class="mbl-menuContainer">
    <ul>
      <li><button class="mbl-toggle c-hamburger c-hamburger--htx"><span>toggle menu</span></button></li>
    </ul>
  </div>
</nav>

<%= render "shared/mobile_nav" %>

<!-- Header section home video -->
<%= render 'home'%>

<!-- welcome to moovber section -->
<%= render 'welcome_section'%>

<!-- How it Works  -->
<%= render 'how_it_work'%>

<!-- realtime notifications -->
<%= render 'realtime' %>

<!-- savings -->
<section class="slide">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 saving_section_right">
          <div class="slide__title"> Save cash by comparing quotes. Users who use Moober save an average of 25-35% on their entire move. </div>
        </div>
        <div class="col-md-6 saving_section_left">
          <div class="fasterBrand"> <img src="assets/tentimesfaster.svg" alt="10x Faster"> </div>
          <div class="chartContainer">
            <div class="chartLegend"> $700 for a 1br apartment move </div>
            <div class="chart mrf">
              <div class="greyBar">
                <div class="colorBar mrf-animable" id="top-bar" data-slide="4" data-animationIn="translate({x:0, y: 0, z:0}, '%')" data-animationOut="translate({x:-100, y: 0, z:0}, '%')"></div>
              </div>
            </div>
            <div class="source"> Moober </div>
            <div class="chartLegend"> $1,100 for a 1br apartment move </div>
            <div class="chart others">
              <div class="greyBar">
                <div class="colorBar mrf-animable" id="bottom-bar" data-slide="4" data-animationIn="translate({x:0, y: 0, z:0}, '%')" data-animationOut="translate({x:-100, y: 0, z:0}, '%')"></div>
              </div>
            </div>
            <div class="source"> Average NYC Moving Company </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- notified -->
<section class="slide notified">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 notified_right">
          <div class="slide__title"> Be notified throughout the entire process of your Moober moving experience. </div>
        </div>
        <div class="col-md-6 notified_left" id="notified_left">
          <div class="notified_slide__media" style="margin-top:100px;">
            <img src="assets/01-screen11.png" class="mrf-animable notified_slide__image slide__image--left" data-slide="5" data-animationIn="translate({x:35, y: 0, z:0}, '%', .8)" id="notified_left_1" style="position:absolute" />
            <img src="assets/02-screen1-shadow.png" class="mrf-animable notified_slide__image slide__image--left" data-slide="5" data-animationIn="translate({x:35, y: 0, z:0}, '%', .8)"  style="position:absolute"/>
            <img src="assets/03-screen21.png" class="mrf-animable notified_slide__image slide__image--right" data-slide="5" data-animationIn="translate({x:-35, y: 0, z:0}, '%', .8)" id="notified_left_2" style="position:absolute"/>
            <img src="assets/04-screen2-shadow.png" class="mrf-animable notified_slide__image slide__image--right" data-slide="5" data-animationIn="translate({x:-35, y: 0, z:0}, '%', .8)"  style="position:absolute"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- applay section -->
<section class="slide applay">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 apply_right">
          <div class="slide__title">Are you a licensed, fully-insured moving company in the NYC area? Apply for your presence on Moober and join the party. </div>
          <div class="apply_section">
            <a class="apply_now" href="apply">Apply</a>
          </div>
        </div>
        <div class="col-md-6 apply_left" id="apply_left">
          <img class="apply_section_image" src="assets/dynamic-ad-placement.png" id="apply_left_1">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- share on facebook -->
<%= render 'share_on_facebook' %>

<!-- download moober -->
<%= render 'download_moober' %>

<!-- Featured on  -->
<%= render 'featured'%>

<!-- footer -->
<%= render 'footer' %>

<%= render 'download_app' %>

<%= render 'shared/scrollify' %>
<div class="mbl-webLateralMenuOverlay"></div>
<div class="mbl-webLateralMenu home-mbl-webLateralMenu">
  <ul>
    <li class="user_moves <%= active_class('/moves') %>"><a href="/moves">Moves</a></li>
    <li><span class="user-login-logut"></span></li>
    <div class="side_image_section">
      <a href="apply">
        <img src="/assets/menu-image.png" align="center" class="side_image">
      </a>
    </div>
  </ul>
</div>
<script>
  document.getElementById('shareBtn').onclick = function() {
    FB.ui({
      method: 'share',
      display: 'popup',
      scope: 'email,user_birthday',
      href: 'http://50.116.5.156/',
    }, function(response){ 
        if (response != undefined) {
          "<%= session[:sharebutton] = true %>"
          localStorage.setItem('homapage_share', "true");
          // window.location.href = "http://stage.moober.com/auth/facebook";
          // window.location.href = "http://50.116.5.156/auth/facebook";
          window.location.href = "http://localhost:3000/auth/facebook";
        // };
        }
    });
  }
  $(document).ready(function(){
    var homepageShare = localStorage.getItem('homapage_share');
    <% if session[:fb_token].present? && session[:email].present? && session[:password] %>
      var API_URL = "http://45.56.72.52/api/userapi/";
      var email = "<%= session[:email] %>"
      var password = "<%= session[:password] %>"
      var check_user_params = '{"email":"'+email+'"}'
        if (email != '' && homepageShare == "true") { 
          $.ajax({
            url: API_URL+'checkEmail',
            method: 'POST',
            data: check_user_params,
            success: function (data) {
              if (data.status == true) {
                if (data.message == "user is not registered"){
                  homeRegistration(email, password, password)
                }
              }
            },
            error: function (o) {
              console.log(o)
              homeLogin(email, password)
            }
          });
        }
    <% end %>
  });
  function homeLogin(email, password){
    var API_URL = "http://45.56.72.52/api/userapi/";
    var device_id = '';
    var token = '';
    var login_params = '{"email":"'+email+'","password":"'+password+'","device_id":"'+device_id+'","token":"'+token+'"}'
      if (email != '' && password != '') {  
        $.ajax({
          url: API_URL+'userLogin',
          method: 'POST',
          data: login_params,
          success: function (data) {
            if (data.status == true) {
              if (current_user == "" || current_user == null || current_user == undefined) {
                localStorage.setItem('user_id', data.data.user_id)
                localStorage.setItem('email', data.data.email)
              }
              var current_user = localStorage.getItem('user_id');
              if (current_user != "" && current_user != null && current_user != undefined) {
                $('.user-login-logut').html("<a href='javascript:;' class='user-logout'>Sign Out</a>")
                $('.user-signup').html("");
                $('.fb-promocode').show();
                $('#shareBtn').hide();
              }else {
                $('.user-login-logut').html("<a href='/signin'>Signin</a>")
                $('.user-signup').html("<a href='/signup'>Signup</a>")
              }
              // window.location.href = '/start-a-move'
            }
          },
          error: function (o) {
            console.log(o);
            alert("Invalid username or password")
          }
        });
        <%= session[:email] = nil %>
        <%= session[:password] = nil %>
        localStorage.setItem('homapage_share', "")
      }
      else{
        alert('Please Enter username and password');
      }
  }
  function homeRegistration(email, password, password_confirmation){
    var API_URL = "http://45.56.72.52/api/userapi/";
    var device_id = '';
    var token = '';
    var sign_up_params = '{"email":"'+email+'","re_password":"'+password_confirmation+'","device_id":"'+device_id+'","password":"'+password+'","token":"'+token+'"}'
    if (email != '' && password != '' && password_confirmation != '') { 
      if (password == password_confirmation) {
        $.ajax({
          url: API_URL+'UserRegistration',
          method: 'POST',
          data: sign_up_params,
          success: function (data) {
            if (data.status == true) {
              if (current_user == "" || current_user == null || current_user == undefined) {
                localStorage.setItem('user_id', data.data.user_id)
                localStorage.setItem('email', data.data.email)
              }
              var current_user = localStorage.getItem('user_id');
              if (current_user != "" && current_user != null && current_user != undefined) {
                $('.user-login-logut').html("<a href='javascript:;' class='user-logout'>Sign Out</a>");
                $('.user-signup').html("");
                $('.fb-promocode').show();
                $('#shareBtn').hide();
              }else {
                $('.user-login-logut').html("<a href='/signin'>Signin</a>")
                $('.user-signup').html("<a href='/signup'>Signup</a>")
              }
            }
          },
          error: function (o) {
            console.log(o);
          }
        });
        <%= session[:email] = nil %>
        <%= session[:password] = nil %>
        // localStorage.setItem('homapage_share', "")
      }
    }
  }
</script>