<!-- Navigation -->
<%#= render 'nav'%>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="mrf-gradient"></div>
  <div class="mrf-logo"> <a href="/"> <img src="assets/logo.png" alt="Moober"/> </a> </div>
  <div class="mrf-menuContainer">
    <ul>
      <li> <button class="c-hamburger c-hamburger--htx"> <span>toggle menu</span> </button> </li>
      <li class=" mrf-contactAction"> <a href="/contact"><b>Contact Us</b></a></li>
    </ul>
  </div>
</nav>

<!-- Header section home video -->
<%= render 'home'%>

<!-- welcome to moovber section -->
<%= render 'welcome_section'%>

<!-- How it Works  -->
<%= render 'how_it_work'%>

<!-- realtime notifications -->
<%= render 'realtime' %>

<!-- savings -->
<section class="slide">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 saving_section_right">
          <div class="slide__title"> Save cash by comparing quotes. Users who use Moober save an average of 25-35% on their entire move. </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- notified -->
<section class="slide notified">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 notified_right">
          <div class="slide__title"> Be notified throughout the entire process of your Moober moving experience. </div>
        </div>
        <div class="col-md-6 notified_left">
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- applay section -->
<section class="slide applay">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 applay_right">
          <div class="slide__title">Are you a licensed, fully-insured moving company in the NYC area? Apply for your presence on Moober and join the party. </div>
          <div class="apply_section">
            <a class="apply_now" href="apply">Apply</a>
          </div>
        </div>
        <div class="col-md-6 applay_left">
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- share on facebook -->
<%= render 'share_on_facebook' %>

<!-- download moober -->
<%= render 'download_moober' %>

<!-- Featured on  -->
<%= render 'featured'%>

<!-- footer -->
<%= render 'footer' %>

<%= render 'download_app' %>