<!-- Navigation -->
<%#= render 'nav'%>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top d_nav hide">
  <div class="mrf-gradient"></div>
  <div class="mrf-logo"><a href="/"><img src="assets/logo.png" alt="Moober"/></a></div>
  <div class="new-mrf-logo"><a href="/"><img class="mobile-logo" src="assets/logo2.png" alt="Moober"/></a></div>
  <div class="mrf-menuContainer">
    <ul>
      <li>
        <span class="side-menu-moves-count"><mark>0</mark></span>
        <button class="dsktop-toggle c-hamburger c-hamburger--htx"><span>toggle menu</span></button>
      </li>
      <li class="mrf-contactAction"><a href="/contact"><b>Contact Us</b></a></li>
      <li class="mrf-contactAction startmove"><a href="/start-a-move">Start a Move</a></li>
    </ul>
  </div>
</nav>

<nav id="mblNav" class="navbar navbar-fixed-top mbl_nav hide">
  <div class="mrf-gradient"></div>
  <div class="mbl-mrf-logo"><a href="/"><img class="header__logo" src="assets/logo2.png" alt="Moober"/></a></div>
  <div class="mbl-menuContainer mbl-side-menu">
    <ul>
      <li>
        <span class="side-menu-moves-count"><mark>0</mark></span>
        <button class="mbl-toggle c-hamburger c-hamburger--htx"><span>toggle menu</span></button>
      </li>
    </ul>
  </div>
</nav>

<%= render "shared/mobile_nav" %>

<!-- Header section home video -->
<%= render 'home'%>

<!-- welcome to moovber section -->
<%= render 'welcome_section'%>

<!-- How it Works  -->
<%= render 'home_how_it_works'%>

<!-- realtime notifications -->
<%= render 'realtime' %>

<!-- savings -->
<%= render'savings'%>

<!-- notified -->
<%= render 'notified'%>

<!-- apply section -->
<%= render 'home_apply'%>

<!-- share on facebook -->
<%= render 'share_on_facebook' %>

<!-- download moober -->
<%= render 'download_moober' %>

<!-- Featured on  -->
<%= render 'featured'%>

<!-- footer -->
<%= render 'footer' %>

<%= render 'download_app' %>

<%= render 'shared/scrollify' %>
<div class="mbl-webLateralMenuOverlay"></div>
<div class="mbl-webLateralMenu home-mbl-webLateralMenu">
  <ul>
    <li class="user_moves <%= active_class('/moves') %>"><span class="moves-count"><mark>0</mark></span><a href="/moves">Moves</a></li>
    <li class="<%= active_class('/account-settings') %> account_settings"><a href="/account-settings">Account Setting</a></li>
    <li><span class="user-login-logut"></span></li>
  </ul>
</div>
<script>
  document.getElementById('shareBtn').onclick = function() {
    FB.ui({
      method: 'share',
      display: 'popup',
      scope: 'email,user_birthday',
      href: 'http://50.116.5.156/',
    }, function(response){ 
        if (response != undefined) {
          "<%= session[:sharebutton] = true %>"
          localStorage.setItem('homapage_share', "true");
          window.location.href = "http://stage.moober.com/auth/facebook";
          // window.location.href = "http://50.116.5.156/auth/facebook";
          // window.location.href = "http://localhost:3000/auth/facebook";
        // };
        }
    });
  }
  $(document).ready(function(){
    $(".mrf-gradient").click();
    var homepageShare = localStorage.getItem('homapage_share');
    <% if session[:fb_token].present? && session[:email].present? && session[:password] %>
      var API_URL = "http://45.56.72.52/api/userapi/";
      var email = "<%= session[:email] %>"
      var uid = "<%= session[:uid] %>"
      var name = "<%= session[:name] %>"
      var image = "<%= session[:image] %>"
      var token = "<%= session[:token] %>"
      fb_signin_params = '{"fullname":"'+name+'","profile_pic":"'+image+'","email":"'+email+'","device_id":"","token":"'+token+'","social_id":"'+uid+'"}'
        if (email != '' && homepageShare == "true") { 
          $.ajax({
            url: API_URL+'socialLogin',
            method: 'POST',
            data: fb_signin_params,
            success: function (data) {
              console.log(data);
              localStorage.setItem('full_name', data.data.fullname)
              localStorage.setItem('phone_number', data.data.phone)
              localStorage.setItem('user_id', data.data.user_id)
              localStorage.setItem('email', data.data.email);
              var current_user = localStorage.getItem('user_id');
              var startmov_login = localStorage.getItem('statmov_signin');
              if (current_user != "" && current_user != null && current_user != undefined) {
                $('.user-login-logut').html("<a href='javascript:;' class='user-logout'>Sign Out</a>")
                $('.user-signup').html("");
                $('.fb-promocode').show();
                $('#shareBtn').hide();
                $('.user_moves').show();
                $('.account_settings').show();
                userMovesRequest(current_user)
              }else {
                $('.user_moves').hide();
                $('.user-login-logut').html("<a href='/signin'>Sign In</a>")
                $('.user-signup').html("<a href='/signup'>Sign Up</a>")
                $('.account_settings').hide();
              }
            },
            error: function (o) {
              console.log(o)
            }
          });
        }
        <%= session[:email] = nil %>
        <%= session[:password] = nil %>
        <%= session[:uid] = nil %>
        <%= session[:name] = nil %>
        <%= session[:image] = nil %>
        <%= session[:token] = nil %>
        localStorage.setItem('homapage_share', "")
    <% end %>
  });
</script>