<%= render 'shared/static_header' %>
<div class="ac-settings">
  <div class="mt-10">
    <div class="contact-mt-10">
      <div class="card-body col-md-6 col-md-offset-3">
        <div class="col-md-offset-2">
          <h2>Payment Methods</h2>
        </div>
        <div class="card-methods col-md-offset-3">
        </div>
        <div class="add-payment-method col-md-offset-3">
          <a href="javascript:;" class="add-card-payment">Add Payment Method</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="contactfooter">
    <div class="skyline"><img src="assets/footer.png" width="100%" alt="Moober Solutions"></div>
    <ul class="footer__content">
      <li>
        <ul>
          <li class="footer__item footer__item--address">
            <p><a href="https://www.google.com/maps/place/404+5th+Ave+%237055,+New+York,+NY+10018,+USA/@40.7503617,-73.9858434,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259aa02e83efb:0x8952d4490e23ed2a!8m2!3d40.7503577!4d-73.9836494?hl=en" target="_blank" data-mrf-ignoreLink="true">404 5th Avenue #7055<br>New York, NY 10018</a></p>
            <p>us: <a target="_blank" href="tel:+16467334446" data-mrf-ignoreLink="true">+1 646 733 4446</a></p>
            <p>M-F 9AM-6PM EST</p>
          </li>
        </ul>
      </li>
      <li class="footer__followUs">
        <ul class="emails">
          <li class="footer__item"><a target="_blank" data-mrf-ignoreLink="true" href="mailto:support@moober.com">support@moober.com</a></li>
          <li class="footer__item"><a target="_blank" data-mrf-ignoreLink="true" href="mailto:"></a></li>
        </ul>
        <ul class="data">
          <li class="footer__item"><a href="https://www.instagram.com/moober/" target="_blank"><img src="assets/social/instagram.svg" alt="instagram" data-mrf-ignoreLink="true" target="_blank"></a></li>
          <li class="footer__item"><a href="https://plus.google.com/100353954115280668104" target="_blank"><img src="assets/social/google.svg" alt="google" data-mrf-ignoreLink="true" target="_blank"></a></li>
          <li class="footer__item"><a href="https://www.pinterest.com/moobernyc/?eq=goober&etslf=6100" target="_blank"><img src="assets/social/pinterest.svg" alt="pinterest" data-mrf-ignoreLink="true" target="_blank"></a></li>
          <li class="footer__item"><a href="https://www.facebook.com/pg/Moober-406494646416367/" target="_blank"><img src="assets/social/facebook.svg" alt="facebook" data-mrf-ignoreLink="true"></a></li>
          <li class="footer__item twitter-icon"><a href="https://twitter.com/MooberNYC" target="_blank"><img src="assets/social/twitter.svg" alt="twitter" target="_blank" data-mrf-ignoreLink="true"></a></li>
        </ul>
      </li>
    </ul>
  </footer>
</div>
<%= render 'add_new_card' %>
<%= render 'home/top_mbl_side_nav' %>

<div id="card-changed" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title pc-head"></h4>
          <div class="changed-card-body">
            <p>Payment method updated successfully!</p>
          </div>
          <button class="new-popup-btn payment-updated">Okay</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="booking-confirm" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title pc-head"></h4>
          <div class="booking-confirm-body">
            <p>Booked successfully!</p>
          </div>
          <button class="new-popup-btn booking-updated">Okay</button>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var API_URL = "http://45.56.72.52/api/userapi/";
    var current_user = localStorage.getItem('user_id');
    var card_id = "<%= session[:card_id]%>"
    var customer_id = "<%= session[:stripe_customer_id]%>"
    var last_4 = "<%= session[:last_4]%>"
    var stripe_params = '{"card_detail":[{"id":"'+card_id+'","last4":"'+last_4+'"}],"stripe_customer_id":"'+customer_id+'","user_id":"'+current_user+'"}'
    <% if session[:stripe_customer_id].present? && session[:card_id].present? && session[:last_4].present? && session[:cus_id_created].present? %>
      $.ajax({
        url: API_URL+"captureCardDetail",
        type: 'POST',
        data: stripe_params,
        success: function(data){
          console.log(data);
          $('.add_card_details').text("Change Card");
          $(".payment-message").text("Card Available")
        },
        error: function(data){
          console.log(data);
        }
        <%= session[:cus_id_created] = nil %>
      });
    <% end %>
    <% if session[:stripe_customer_id].present? %>
      $('.add_card_details').text("Change Card");
      $(".payment-message").text("Card Available")
    <% end %>
    var card_params = '{"user_id":"'+current_user+'"}'
    if (current_user != "" && current_user != null && current_user != undefined) {
      $.ajax({
        url: API_URL+"getUserCards",
        type: 'POST',
        data: card_params,
      })
      .done(function(data) {
        console.log(data);
        $(data.data).each(function(index, card){
          var card_id = localStorage.getItem("card_id")
          if (card_id === card.id) {
            $('.card-methods').append('<input type="radio" name="card" value="male" class="choose_card" data-id="'+card.id+'" data-card="'+card.card_number+'" checked> XXXX XXXX XXXX '+card.card_number+'<br>');
          }
          else if(index === 0){
            $('.card-methods').append('<input type="radio" name="card" value="male" class="choose_card" data-id="'+card.id+'" data-card="'+card.card_number+'" checked> XXXX XXXX XXXX '+card.card_number+'<br>');
            localStorage.setItem("card_id", card.id);
            localStorage.setItem("card_number", card.card_number);
          }else{
            $('.card-methods').append('<input type="radio" name="card" value="male" class="choose_card" data-id="'+card.id+'" data-card="'+card.card_number+'"> XXXX XXXX XXXX '+card.card_number+'<br>');
          }
        })
      })
      .fail(function(data) {
        console.log(data);
        console.log("error");
      });
    }
  });
  $(document).on('click', '.choose_card', function(){
    var card_id = $(this).data('id');
    var card_number = $(this).data('card');
    localStorage.setItem("card_id", card_id);
    localStorage.setItem("card_number", card_number);
    $("#card-changed").modal();
  });
</script>