<%= render 'shared/static_header' %>
<section class="slide accept-slide">
  <div class="row moving_proposals_accept">
    <div class='col-md-4'></div>
    <div class='col-md-4'>
      <div class="proposal_accept">
        <p>
          <span>
            Moving Company:
          </span>
          <span class="acpt-label acpt-company"></span>
        </p>
        <p>
          <span>Moving From:</span>
          <span class="acpt-label acpt-company-from"></span>
        </p>
        <p>
          <span>Moving To</span>
          <span class="acpt-label acpt-company-to"></span>
        </p>
        <p>
          <span>Moving Date:</span>
          <span class="acpt-label acpt-company-date"></span>
        </p>
      </div>
    </div>
    <div class='col-md-4'></div>
  </div>
  <div class="row apply-promocode">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="col-md-8 pull-left acpt-form">
        <input type="texgt" name="promo-code" class="promo-code form-control" placeholder="Promo Code">
      </div>
      <div class="col-md-4 pull-right acpt-apply">
        <div class="text-center promo-apply-btn">Apply</div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row estimate-cost">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="text-center estimated_cost_text">Estimated Cost: $<span class="acpt-price">300.00</span></div>
      <div class="hidden-promocode"></div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row final-amount">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="text-center">Final Cost: $<span class="final-price"></span></div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row card-details">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="col-md-8 pull-left acpt-form payment-message">
        No Payment method available.
      </div>
      <div class="col-md-4 acpt-apply pull-right">
        <a href="javascript:;" class="add_card_details">Add card</a>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row approve-details">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="text-center approve-btn">Approve Payment</div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</section>

<div id="promo-code-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title pc-head"></h4>
          <div class="promocode-body">
          </div>
          <button class="new-popup-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="card_details" class="modal fade" role="dialog">
  <div class="modal-dialog mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div align="center">
          <img class="new_popup_image" src="/assets/logo2.png">
        </div>
        <div class="popup_content">
          <div class="card-section">
            <div class='row'>
                <div class='col-md-12'>
                  <%= form_tag charges_path, remote: true, authenticity_token: true, method: 'post', id: 'payment-form' do %>
                    <span class="payment-errors"></span>

                    <div class="form-row">
                      <div class='col-xs-12 form-group card required'>
                        <label class='control-label'>Card Number</label>
                        <input class='form-control card-number'type="text" size="20" maxlength="16" data-stripe="number"/ onkeypress='return validateQty(event);'>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class='col-xs-4 form-group cvc required'>
                        <label class='control-label'>CVC</label>
                        <input class='form-control card-cvc'type="text" size="4" maxlength="4" data-stripe="cvc"/ onkeypress='return validateQty(event);'>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class='col-xs-4 form-group expiration required'>
                        <label class='control-label'>Expiration</label>
                        <input class='form-control card-expiry-month' type="text" size="2" maxlength="2" data-stripe="exp-month"/ onkeypress='return validateQty(event);'>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class='col-xs-4 form-group expiration required'>
                        <label class='control-label'> </label>
                        <input class='form-control card-expiry-year' type="text" size="4" maxlength="4" data-stripe="exp-year"/ onkeypress='return validateQty(event);'>
                      </div>
                    </div>

                    <button class="new-popup-btn stripe-submit-btn" type="submit">Add</button>
                  <% end %>
                </div>
            </div>
        </div>
          <!-- <button class="new-popup-btn card_detail_save" data-dismiss="modal">Save</button> -->
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    acceptCompany();
    var API_URL = "http://45.56.72.52/api/userapi/";
    var current_user = localStorage.getItem('user_id');
    var card_id = "<%= session[:card_id]%>"
    var customer_id = "<%= session[:stripe_customer_id]%>"
    var last_4 = "<%= session[:last_4]%>"
    var stripe_params = '{"card_detail":[{"id":"'+card_id+'","last4":"'+last_4+'"}],"stripe_customer_id":"'+customer_id+'","user_id":"'+current_user+'"}'
    <% if session[:stripe_customer_id].present? && session[:card_id].present? && session[:last_4].present? && session[:cus_id_created].present? %>
      $.ajax({
        url: API_URL+"captureCardDetail",
        type: 'POST',
        data: stripe_params,
        success: function(data){
          console.log(data);
          $('.add_card_details').text("Change Card");
          $(".payment-message").text("Card Available")
        },
        error: function(data){
          console.log(data);
        }
        <%= session[:cus_id_created] = nil %>
      });
    <% end %>
    <% if session[:stripe_customer_id].present? %>
      $('.add_card_details').text("Change Card");
      $(".payment-message").text("Card Available")
    <% end %>
  });
</script>