<%= render 'shared/static_header' %>
<div class='modal_loading'><img src="/assets/ajax_loader.gif" alt=""></div>
  <section class="slide" id="map">
    
  </section>

  <div class="start_move_body">
    <%= render 'move' %>
  </div>
  <div class="sign_in_body">
    <%= render 'customers/signin' %>
  </div>
  <div class="sign_up_body">
    <%= render 'customers/signup' %>
  </div>
  <div class="forget_pswd_body">
    <%= render 'customers/forgetpassword' %>
  </div>
  <%= render 'home/top_mbl_side_nav' %>


<script>
  // show phone icon
  $(document).ready(function(){
    if ($(window).width() < 750) {
      $("#mrf-contactBubbles").css("display","block");
      $("#mrf-contactBubbles").css("z-index","2");
      $(".page_valid_align").css("top","150px");
    }
  });
</script>
<script>
    var now = new Date();
    var minutes = now.getMinutes();
    var hours = now.getHours();
    var getMin = (minutes >= 30) ? 00 : 30
    var getHour = (minutes >= 30) ? hours + 1 : hours
    if (getHour === 24 && minutes >= 30){
      getHour = 0
    }
    var minDate = new Date(new Date().setHours(getHour, getMin, 0, 0))
    maxDate = new Date(now.getFullYear() + 1, now.getMonth(), now.getDate());
    // mobiscroll.settings = {
    //     theme: 'ios',
    //     lang: 'en'
    // };

    var current_date = ((minDate.getMonth()+1)+'-'+minDate.getDate()+'-'+minDate.getFullYear() + ' '+(getHour<12 ? getHour : getHour - 12)+':'+ (minDate.getMinutes()<30 ? '30' : "00") +' ' + (minDate.getHours()<12 ? 'AM' : 'PM'))

    $("#demo").val(current_date);
    var instance = mobiscroll.datetime('#demo', {
      theme: 'ios',
      display: 'inline',
      min: minDate,
      max: maxDate,
      dateFormat: 'mm-dd-yyyy',
      dateWheels: '|D M d|',
      steps: { 
        minute: 30,
        second: 5
        // zeroBased: true
      }
    });


    document
        .getElementById('show')
        .addEventListener('click', function () {
            instance.show();
        }, false);
    
    document
        .getElementById('clear')
        .addEventListener('click', function () {
            instance.clear();
        }, false);
    function validate(evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode( key );
      var regex = /[0-9]|\./;
      if( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
      }
    }
  </script>


<!-- size of your move -->
<div id="size-of-your-move" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Message</h4>
          <p>What is the item you are looking to move?</p>
          <input type="text" name="" class="new-popup-ins size_of_move_value" placeholder="Eg. Piano">
          <button class="new-popup-btn size_of_move_ok">Okay</button>
          <button class="new-popup-btn size_of_move_cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- moving-extra -->
<div id="moving-extra" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Moving Extras</h4>
          <p>Please list your extra items here.</p>
          <input type="text" name="" class="new-popup-ins moving-extra_value" placeholder="Eg. Piano">
          <button class="new-popup-btn moving_extra_ok">Okay</button>
          <button class="new-popup-btn moving_extra_cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- edit moving-extra -->
<div id="edit-moving-extra" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <input class='find_extra_input' type='hidden'>
          <h4 class="modal-title">Moving Extras</h4>
          <p>Please list your extra items here.</p>
          <input type="text" name="" class="new-popup-ins edit-moving-extra_value" placeholder="Eg. Piano">
          <input type="text" name="" class="edit_moving_extra_hidden">
          <button class="new-popup-btn edit_moving_extra_ok">Okay</button>
          <button class="new-popup-btn edit_moving_extra_cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- building-type -->
<div id="building-type-pickup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Which floor?</h4>
          <p>Please mention which floor.</p>
          <input type="text" name="" class="new-popup-ins pickup-value" placeholder="Eg. 3rd floor">
          <button class="new-popup-btn pickup-ok">Okay</button>
          <button class="new-popup-btn pickup-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- edit pickup -->
<div id="edit-building-type-pickup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Which floor?</h4>
          <p>Please mention which floor.</p>
          <input type="text" name="" class="new-popup-ins edit-pickup-value" placeholder="Eg. 3rd floor">
          <button class="new-popup-btn edit-pickup-ok">Okay</button>
          <button class="new-popup-btn edit-pickup-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- edit-building-type-destination -->
<div id="edit-building-type-destination" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Which floor?</h4>
          <p>Please mention which floor.</p>
          <input type="text" name="" class="new-popup-ins edit-destination-value" placeholder="e.g. 3rd floor">
          <button class="new-popup-btn edit-destination-ok">Okay</button>
          <button class="new-popup-btn edit-destination-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="building-type-destination" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Which floor?</h4>
          <p>Please mention which floor.</p>
          <input type="text" name="" class="new-popup-ins destination-value" placeholder="e.g. 3rd floor">
          <button class="new-popup-btn destination-ok">Okay</button>
          <button class="new-popup-btn destination-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- request-received -->
<div id="request-received" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Request Received!</h4>
          <p>You're one step closer to your move! Look out for quotes from moving companies within the next 24 hours!</p>
          <button class="new-popup-btn" data-dismiss="modal">All Requests</button>
          <button class="new-popup-btn" data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- sign-in -->
<div id="sign-in" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Sign In</h4>
          <input type="email" name="" class="new-popup-ins sign_in_email" placeholder="Email" required>
          <input type="password" name="" class="new-popup-ins sign_in_password" placeholder="Password" required>
          <button class="new-popup-btn sign_in_btn">Sign In</button>
          <button class="new-popup-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- sign-up -->
<div id="sign-up" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Sign Up</h4>
          <input type="email" name="" class="new-popup-ins sign_up_email" placeholder="Email" required>
          <input type="password" name="" class="new-popup-ins sign_up_password" placeholder="Password" required>
          <input type="password" name="" class="new-popup-ins sign_up_conform_password" placeholder="Confirmation Password" required>
          <button class="new-popup-btn sign_up_btn">Sign Up</button>
          <button class="new-popup-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- validation popup -->
<div id="page_valid" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Message</h4>
          <p class="validation_popup_content"></p>
          <button class="new-popup-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- start a Move Done -->
<div id="start-move-done" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Request Received!</h4>
          <p>You're one step closer to your move! Look out for quotes from moving companies within the next 24 hours!</p>
          <button class="new-popup-btn all_request_page">All Requests</button>
          <button class="new-popup-btn start-move-done-ok">Okay</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- start a Move error -->
<div id="start-move-error" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo2.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title">Message</h4>
          <div class="start-move-error-message">
          </div>
          <button class="new-popup-btn start-move-error-ok">Okay</button>
        </div>
      </div>
    </div>

  </div>
</div>