<link rel="stylesheet" href="/assets/email.css">
<div id="moo-header">
  <div class="mrf-gradient"></div>
  <div class="moo-logo"> 
    <a href="/">
      <img src="http://stage.moober.com/assets/logo.png" alt="Moober"/>
    </a>
  </div> 
</div>
<div class="moo-body">
  <div class="moo-content">A new user has submitted a moving request on moober. Login to your Moober dashboard to view the move details and submit your bid to win the job!</div>

  <div class="moo-move-details">
    <div><b>Pickup Address:</b> <u><%= @move_params['from_address'] %></u></div>
    <div><b>Destination Address:</b> <%= @move_params['to_address'] %></div>
    <div><b>Distance:</b> <%= @distance.round(2) %> Miles</div>
    <div><b>Move Date:</b> <%= DateTime.parse(@date).strftime("%d-%m-%Y") %></div>
    <div><b>Move Time:</b> <u><%= DateTime.parse(@date).strftime("%l:%M %p") %></u></div>
  </div>
  <div class="moo-move-view">
    <span>View Details</span>
  </div>
</div>

 <footer class="footer">
  <div class="skyline mail_footer"><img src="http://stage.moober.com/assets/footer.png" width="100%" alt="Moober Solutions">
  </div>
</footer>